body {
  color: white;
  background-color: rgb(35, 5, 49);
  max-width: 1500px;
  margin: 0 auto;
  font-family: fantasy;
}

img {
  border-radius: 50%;
  /* max-width: 40%;
  height: auto; */
  height: 500px;
  width: 500px;
}

/* img.displayPhotos {
  margin: auto;
  height: auto;
  
} */

.video {
  min-width: 10%;
  min-height: 10%;
  padding-right: 50px;
}