body {
  color: white;
  background-color: rgb(35, 5, 49);
  max-width: 1500px;
  /* margin: 0 auto; */
  font-family: fantasy;
  margin-left: 2%;
}

img {
  border-radius: 50%;
  /* max-width: 40%;
  height: auto; */
  height: 500px;
  width: 500px;
  padding: 2%;
  margin-left: 6%;
  padding-left: 8%;
}

/* img.displayPhotos {
  margin: auto;
  height: auto;
  
} */

video {
  height: 100%;
  width: 115%;
  padding-right: 100px;
  
}